body {
  /* background: url("./resources/3b5e7c0b23f541907e4cbeee03c53539.mmexport1503749895409-01-01-01.jpeg"); */
  /* background: url("./resources/6iaPYl.jpg"); */
}

.topNavbarImage {
  background: url("./resources/LandingPage.png");
  height: 702px;
  background-size: cover;
  /* width: 2000px; */
}

.fa.fa-edit {
  color: #18a2b9;
  padding-right: 10px;
}

.fa.fa-minus-circle {
  color: red;
  padding-right: 10px;
}

.no-border {
  border: none !important;
}

.opacity{
  opacity: 0.8;
}

.project-teal-line{
  margin-top: 5%;
  margin-bottom: 0.5%;
}

.navbar-with-line{
  margin: 0 0 1px 0 !important;
}

.floating-card-task{
  background: url("./resources/930911675ea18c404e23146217a9001c.jpg");
  -webkit-box-shadow: 20px 20px 10px 0px grey;
  -moz-box-shadow: 20px 20px 10px 0px grey;
  box-shadow: 20px 20px 10px 0px grey;
  margin-bottom: 5%;
  margin-top: 5%;
}

.floating-card-project {
  background: url("./resources/930911675ea18c404e23146217a9001c.jpg");
  -webkit-box-shadow: 20px 20px 10px 0px grey;
  -moz-box-shadow: 20px 20px 10px 0px grey;
  box-shadow: 20px 20px 10px 0px grey;
  margin-bottom: 10%;
}

.project-buttons-set{
  width: 210px;
}

.inner-card {
  color: black !important;
}

.login-input{
  width: 300px;
}

.register-form-margin{
  /* margin-left: 500px; */
  width: 80%;
  opacity: 0.95;
  margin-bottom: 70px;
}

.form-titles{
  color: #f31126!important;
  text-shadow: 2px 4px 3px #2b44438c;
}

.navbar-text-color{
  color: #f31126!important;
}

.login-form-margin{
  width: 80%;
  opacity: 0.95;
  margin-bottom: 70px;
}

.add-task-form-margin{
  margin-left: 400px;
}

.btn-margin{
  margin-left: 200px;
}

.btn-landing-margin{
  margin-top: 530px;
  margin-left:500px;
}

.project-forms-margin{
  margin-left: 70px;
}

.landingTitle{
  font-size: 100px important!;
}

.text-class{
  color:black;
}

.register-container{
  background: url("./resources/business-meeting-1-1.png");
  height: 690px;
  padding-top: 40px;
  background-repeat:no-repeat;
  background-size: cover;
}

.login-container{
  background: url("./resources/Project-Management-360_temp.png");
  height: 690px;
  padding-top: 40px;
  background-repeat:no-repeat;
  background-size: cover;
}

.landing-container{
  background: url("./resources/architect-architecture-black-and-white-1537008.jpg");
  margin-top: 500px;
  height: 760px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formBackground1{
background: url("./resources/images\ \(1\).jpeg");
background-repeat:no-repeat;
}

.formBackground2{
  background: url("./resources/Black-and-white-Trees-Landscapes\ \(1\).jpg");
  background-repeat:no-repeat;
}

.formBackground3{
  background: url("./resources/original.jpg");
  background-repeat:no-repeat;
}

.formBackground4{
  background: url("./resources/tree2.jpg");
  padding-right: 10px;
  margin-left: 190px;
  background-repeat:no-repeat;
  width: 500px;
  height: 755px;
  /* background-color: black !important; */
}

.update-form{
  margin-right: 190px;
}


.bg-userProfile1{
  background: url("./resources/girl-face.jpg");
  background-repeat:no-repeat;
  margin-top: 30px;
  width: 100px;
  height: 400px;
}

.bg-userProfile2{
  background: url("./resources/girl.png");
  background-repeat:no-repeat;
  margin-top: 200px;
  /* margin-right: 10px; */
  width: 100px;
  height: 430px;
}

.bg-form-userProfile{
    margin-top: 200px;
    margin-left: 7px;
    margin-right: 7px;
}

.row-hight{
  height: 0.3px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(59, 55, 55) !important;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(59, 55, 55);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(59, 55, 55);
}
