body {
  background: url("./resources/wall5.jpeg");
}
.navbar {
  background-color: #e3f2fd;
}
.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-edit {
  color: #18a2b9;
  padding-right: 10px;
}

.fa.fa-minus-circle {
  color: red;
  padding-right: 10px;
}

.no-border {
  border: none !important;
}

.floating-card {
  background: url("./resources/paper-page-background-texture.jpg");
  /* background-color: #059033 !important; */
  -webkit-box-shadow: 20px 20px 10px 0px grey;
  -moz-box-shadow: 20px 20px 10px 0px grey;
  box-shadow: 20px 20px 10px 0px grey;
  margin-top: 3%;
  margin-bottom: 3%;
}

.inner-card {
  background: url("./resources/istockphoto-181471302-612x612.jpg");
  color: black !important;
  /* -webkit-box-shadow: inset 0px 0px 6px aqua;
  -moz-box-shadow: inset 0px 0px 6px aqua;
  box-shadow: inset 0px 0px 6px aqua; */
}

.validation-border {
  border: aqua;
}

.update-inner-card {
  -webkit-box-shadow: inset 0px 0px 6px rgb(18, 240, 48);
  -moz-box-shadow: inset 0px 0px 6px rgb(18, 240, 48);
  box-shadow: inset 0px 0px 6px rgb(18, 240, 48);
}
